<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/registration-success.css">
</head>

<body>
    <div class="container">
        <h2 class="success-message">Registration Successful!</h2>
        <p>Your account has been created successfully. You can now log in.</p>
        <p>Click <a th:href="@{/products}" class="login-link">here</a> to go to the login page.</p>
    </div>
</body>

</html>
